<form action="action_page.php" method="post">
    <div class="container">
        <h3> Login Form <h3>
        <button type="submit">Login In Django</button>
      <li for="uname"><b>Username</b></li>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <li for="psw"><b>Password</b></li>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <li>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </li>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <li> <span class="psw">Forgot <a href="#">password?</a></span></li>
    </div>
  </form> 


